USE [db_library]
GO
/****** Object:  Table [dbo].[readers]    Script Date: 04.01.2026 16:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[readers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[surname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 04.01.2026 16:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[book_name] [nvarchar](255) NOT NULL,
	[publish_date] [date] NOT NULL,
	[price] [float] NOT NULL,
	[is_available] [bit] NOT NULL,
	[author_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_loans]    Script Date: 04.01.2026 16:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_loans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loan_date] [date] NOT NULL,
	[due_date] [date] NULL,
	[return_date] [date] NULL,
	[loan_state] [nvarchar](50) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_loans_detail]    Script Date: 04.01.2026 16:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_loans_detail] as
select
    bl.id as loan_id,
    r.first_name + ' ' + r.surname as reader_name,
    b.book_name,
    bl.loan_date,
	bl.due_date,
    bl.return_date,
    bl.loan_state
from book_loans bl
join readers r on bl.reader_id = r.id
join books b on bl.book_id = b.id;

GO
/****** Object:  Table [dbo].[authors]    Script Date: 04.01.2026 16:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[surname] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 04.01.2026 16:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gen_name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_books_detail]    Script Date: 04.01.2026 16:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_books_detail] as
select
    b.id,
    b.book_name,
    a.first_name + ' ' + a.surname as author,
    g.gen_name as genre,
    b.price,
    b.is_available
from books b
join authors a on b.author_id = a.id
join genres g on b.genre_id = g.id;
GO
SET IDENTITY_INSERT [dbo].[authors] ON 

INSERT [dbo].[authors] ([id], [first_name], [surname]) VALUES (1, N'John', N'Smith')
INSERT [dbo].[authors] ([id], [first_name], [surname]) VALUES (2, N'Paul', N'Williams')
INSERT [dbo].[authors] ([id], [first_name], [surname]) VALUES (3, N'Elizabeth', N'Dickson')
SET IDENTITY_INSERT [dbo].[authors] OFF
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([id], [book_name], [publish_date], [price], [is_available], [author_id], [genre_id]) VALUES (1, N'Book1', CAST(N'2000-12-06' AS Date), 200, 1, 1, 2)
INSERT [dbo].[books] ([id], [book_name], [publish_date], [price], [is_available], [author_id], [genre_id]) VALUES (2, N'Book2', CAST(N'2015-03-03' AS Date), 180, 1, 3, 2)
INSERT [dbo].[books] ([id], [book_name], [publish_date], [price], [is_available], [author_id], [genre_id]) VALUES (3, N'Book3', CAST(N'2018-04-04' AS Date), 250, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[genres] ON 

INSERT [dbo].[genres] ([id], [gen_name]) VALUES (2, N'fantasy')
INSERT [dbo].[genres] ([id], [gen_name]) VALUES (1, N'romance')
INSERT [dbo].[genres] ([id], [gen_name]) VALUES (3, N'sci-fi')
SET IDENTITY_INSERT [dbo].[genres] OFF
GO
SET IDENTITY_INSERT [dbo].[readers] ON 

INSERT [dbo].[readers] ([id], [first_name], [surname], [email]) VALUES (1, N'Olva', N'Leckey', N'oleckey2@chicagotribune.com')
INSERT [dbo].[readers] ([id], [first_name], [surname], [email]) VALUES (2, N'Eustace', N'Dat', N'edatb@last.fm')
INSERT [dbo].[readers] ([id], [first_name], [surname], [email]) VALUES (3, N'Cortie', N'Ibeson', N'cibesond@wix.com')
SET IDENTITY_INSERT [dbo].[readers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__genres__C13EF382BCACFB63]    Script Date: 04.01.2026 16:45:53 ******/
ALTER TABLE [dbo].[genres] ADD UNIQUE NONCLUSTERED 
(
	[gen_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__readers__AB6E6164136E02A0]    Script Date: 04.01.2026 16:45:53 ******/
ALTER TABLE [dbo].[readers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[book_loans]  WITH CHECK ADD  CONSTRAINT [fk_loan_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[book_loans] CHECK CONSTRAINT [fk_loan_book]
GO
ALTER TABLE [dbo].[book_loans]  WITH CHECK ADD  CONSTRAINT [fk_loan_reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[readers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[book_loans] CHECK CONSTRAINT [fk_loan_reader]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [fk_book_author] FOREIGN KEY([author_id])
REFERENCES [dbo].[authors] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [fk_book_author]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [fk_book_genre] FOREIGN KEY([genre_id])
REFERENCES [dbo].[genres] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [fk_book_genre]
GO
ALTER TABLE [dbo].[book_loans]  WITH CHECK ADD  CONSTRAINT [ck_loan_state] CHECK  (([loan_state]='overdue' OR [loan_state]='returned' OR [loan_state]='active'))
GO
ALTER TABLE [dbo].[book_loans] CHECK CONSTRAINT [ck_loan_state]
GO
